[2016-11-08 05:58] dmsurti opened #6 "Add tests"
Use `assimp` model files, also update the license accordingly.

Import each model file using the assimp API. Loop through assimp scene graph and check the generated `SCNScene` using `AssimpImporter` has all the nodes with the correct geometry, materials, lights, cameras and animations. No need to test the granular details such as that of geometry or animation.

[2016-11-08 05:59] dmsurti opened #7 "Fix warnings in XCode"
Fix all the code warnings as can be seen in Xcode.

[2016-11-08 06:03] dmsurti opened #8 "Add Travis CI integration"
After implementing #6, integrate with Travis CI.

[2016-11-08 06:04] dmsurti opened #9 "Add documentation"
- [X] Host on github pages
- [X] Add API documentation in code and generated doc set
- [X] Update README
- [X] Add installation guide, with high level instructions in README
- [X] Add user documentation/tutorial
- [X] Add macOS example app README
- [X] Add iOS example app README
- [X] Add developer documentation

[2016-11-08 06:07] dmsurti opened #10 "Fix texture path"
Some model files (example: soldier.dae) have the full texture path whereas we only need the texture file name. Ensure we pick only the last path component.

[2016-11-08 06:08] dmsurti opened #11 "Enable toggling of logs"
Add logging support and convert all of NSLog statements so that they are logged with the appropriate log level.

[2016-11-08 06:09] dmsurti opened #12 "Ecosystem"
- [X] Update the copyright in all files.
- [X]  Check all licenses are in place.

[2016-11-08 06:10] dmsurti opened #13 "Add carthage support"
Add support for https://github.com/Carthage/Carthage

[2016-11-08 06:11] dmsurti opened #14 "Add support for cocoa pods"

[2016-11-08 06:13] dmsurti opened #15 "Update macOS example app"
Update macOS example app so that the user can select a model file, an animation file and view the model with/without the animation.

[2016-11-08 06:15] dmsurti opened #16 "Add USD file support"
This should use Model IO for these files: `obj, stl, ply, usd` instead of Assimp.

-[ ] Need to check if these files are processed internally just like `dae` files. If not, then we can directly use Model IO for the files it supports.

[2016-11-08 06:17] dmsurti opened #17 "Serialization"
Add support for `SCNAssimpScene` serialization by implementing `NSCoding` protocol methods. We need to do this for the animations `SCNAssimpAnimation` objects which hold all `CAKeyframeAnimation` per channel's position, rotation and scale in the animation.

[2016-11-08 06:23] dmsurti opened #18 "Add badges"
Add badges for:

- Travis CI
- License
- Release

[2016-11-08 06:25] dmsurti opened #19 "Host library website"
Use `github.io` to host the public website for this library which provides links to:

- [X] User guide
- [X] Github repo
- [X] Gallery with videos and screenshots
- [X] API docs
- [X] Installation
- [X] Example apps
- [X] Developer guide
- [X] Known limitations

[2016-11-08 06:26] dmsurti opened #20 "Make a release"
- [X] Tag as v1.0

[2016-11-08 13:43] dmsurti opened #22 "Fix clang formatting"
After upgrade to Xcode 8, clang formatting is broken as 3rd party extensions are not allowed due to SIP.

[2016-11-08 13:43] dmsurti commented on #22
Fixed in #21

[2016-11-08 13:43] #22 closed

[2016-11-10 06:11] #10 closed

[2016-11-10 08:05] dmsurti opened #25 "Configurable log levels"
Change log levels for release. Also allow log level to be configured at runtime by client of AssimpKit to allow collecting detailed crash logs.

[2016-11-10 08:10] dmsurti commented on #11
Closed in #26.

[2016-11-10 08:43] #7 closed

[2016-11-12 13:26] #6 closed

[2016-11-14 08:26] #8 closed

[2016-11-14 08:35] dmsurti commented on #11
Lumberjack is not usable in LogicTest targets. Hence lumberjack usage is removed. Need to add logging such that it can be toggled ON for debugging and OFF for release. Also there should be a Log level which will always print.

[2016-11-14 09:15] #11 closed

[2016-11-15 19:43] dmsurti commented on #25
Fixed in #31

[2016-11-15 19:43] #25 closed

[2016-11-17 13:50] dmsurti opened #33 "Add assimp framework"
Add a framework that ships the static assimp library and it's public headers, for ease of installation a and usage in the applications that will use the AssimpKit library.

[2016-11-17 13:51] dmsurti opened #34 "Add assimpkit framework"
Add a framework that ships the AssimpKit static library and it's public headers, for ease of installation and usage in the applications that use the AssimpKit library. We need a framework for both macOS and iOS.

[2016-11-17 17:14] dmsurti commented on #33
Invalid, as I can embed assimp lib in assimpkit framework #34.

[2016-11-17 17:14] #33 closed

[2016-11-18 08:49] #34 closed

[2016-11-19 05:54] #12 closed

[2016-11-20 06:27] dmsurti commented on #13
Fixed in #36

[2016-11-20 06:27] #13 closed

[2016-11-30 09:38] dmsurti opened #37 "Use post processing flags"
The AssimpKit API should support the post processing flags provided by Assimp. https://github.com/assimp/assimp/blob/c98915e38295b7af660f15b43a38a9d6cb390d4f/include/assimp/postprocess.h

[2016-11-30 11:12] #37 closed

[2016-11-30 16:59] dmsurti opened #39 "Update iOS example app"
Update the iOS Example app so that it has files loaded via iTunes file sharing and lets the user select a model file, an animation file and view the model with/without the animation.

[2016-12-01 06:48] dmsurti commented on #39
Implemented in #40.

[2016-12-01 06:48] #39 closed

[2016-12-12 13:03] dmsurti commented on #15
Fixed in #41.

[2016-12-12 13:03] #15 closed

[2016-12-26 13:31] dmsurti commented on #17
This won't be fixed for the following reason:

1. The main advantage of serialization using `.scn` format is the size compression. Loading time is not a critical parameter in the context of this library.
2. LZMA SDK gives an almost same compression ratio. See screenshot. `astroBoyWalk_uncr.dae` is the uncompressed original `.dae` file, while `astroBoy_walk.dae` is the one converted by SceneKit int

[2016-12-26 13:31] #17 closed

[2016-12-26 13:32] dmsurti opened #42 "SCNMaterial cannot be serialized"
If one tries to serialize a `SCNScene` file as generated by this library, and serialize it using `writeToURL:options:delegate:progressHandler:` method results in the following error:

[code]

[2016-12-30 14:53] dmsurti opened #44 "Add animation to a SCNNode"
After PR #43 which has support to add `SCNScene` animation to a given `SCNScene`, same API is needed to allow adding animation to a given `SCNNode`.

This is important for composite `SCNScene` which nodes have other `SCNScene` or `SCNSceneSource` nodes.

[2016-12-31 06:08] #44 closed

[2016-12-31 06:08] dmsurti commented on #42
Fixed in PR #43

[2016-12-31 06:08] #42 closed

[2016-12-31 06:10] dmsurti opened #46 "Add light support"
Current importing lights causes the serialization to fail. This has been disabled for now, as after exporting to scene kit, using the Xcode scene editor, the scene can be edited.  But lighting support needs to be added back, at least optionally.

[2016-12-31 18:29] dmsurti commented on #20
Released. See https://github.com/dmsurti/AssimpKit/releases/tag/v1.0

[2016-12-31 18:29] #20 closed

[2016-12-31 18:32] dmsurti commented on #19
Closed after #20.

[2016-12-31 18:32] #19 closed

[2016-12-31 18:42] dmsurti commented on #9
Closed after #20.

[2016-12-31 18:42] #9 closed

[2016-12-31 18:45] dmsurti opened #47 "Add animation timing and event support"
With the category method to add animation, the animation timing and other properties support is required. See https://developer.apple.com/reference/quartzcore/caanimationgroup to all the `CAAnimation` objects in the animation `SCNScene`.

A method can be added to the `SCNScene+AssimpImport` which can return the `CAAnimationGroup` for the `CAAnimation` objects which simplifies applying the animatio

[2017-01-02 13:54] #47 closed

[2017-03-14 11:24] SongJiaqiang opened #49 "How to integrate AssimpKit manually"
I do not want use Carthage, and how to integrate AssimpKit on my project ?

[2017-03-22 06:42] dmsurti commented on #49
@SongJiaqiang Just clone or fork this project. Open the workspace file.

Next choose the target, example `AssimpKit-iOS` and also a device if you want to build it for a device. Then build that target. Under Products you will see `AssimpKit.framework`. You can copy this framework and add it to your project.

![screen shot 2017-03-22 at 12 10 25 pm](https://cloud.githubusercontent.com/assets/4158417

[2017-03-24 03:12] SongJiaqiang commented on #49
@dmsurti Thank you!
It's easy to copy AssimpKit framework to my Xcode project, but there are some c++ error when I build project.
I guess some of the libraries may be missing, and then try to add the following libraries, eventually resolving the error.
😆😆😆

libstdc++.tbd
libz.tbd
libiconv.tbd

[2017-03-24 07:43] dmsurti commented on #49
@SongJiaqiang

Sorry, I haven't tried integrating manually except for the sample projects in the workspace, check those out as well, but you should not need to add those libraries. Try this and please let me know if it works:

![screen shot 2017-03-24 at 1 10 39 pm](https://cloud.githubusercontent.com/assets/4158417/24284881/78ec6f12-1093-11e7-81c8-b96e73c8133a.png)

Also did you set the `Enable B

[2017-03-24 07:44] dmsurti opened #51 "Add instructions to integrate manually"
Need a section in the documentation which describes the steps to integrate manually, see #49.

[2017-05-26 08:58] lattejed opened #52 "Build Settings?"
Hi Deepak,

Sorry for the spam but I can't find a contact email for you anywhere.

I was wondering if you would mind sharing your build settings for Assimp for iOS / macOS. The original project doesn't have much support for non-Windows users.

Feel free to email me at m@lattejed.com if you would rather speak offline.

And thanks for the great library!

[2017-05-30 08:57] D-32 commented on #49
@dmsurti I got it to work with Xcode 8.3.1 and Swift 3 with following steps:
1. Build the iOS framework
2. Drag & drop AssimpKit.framework into your project
3. Build settings -> `Enable Bitcode` = No
4. General -> Embedded Binaries -> Add AssimpKit.framework
5. Add Bridging-Header and add `#import <AssimpKit/SCNScene+AssimpImport.h>`

[2017-05-30 09:00] dmsurti commented on #49
@D-32 Thanks for the instructions to integrate manually.  👍

@SongJiaqiang You can see the steps posted by @D-32  to integrate manually.

Closing this issue now.

[2017-05-30 09:00] #49 closed

[2017-06-20 13:34] tsharju opened #53 "Relative paths for textures."
Seems that it does not matter if I put a relative path for textures and I load the `SCNScene` using `AssimpKit`, the texture always has a absolute path. I'm using `AssimpKit` for importing our models in FBX format and then save the `SCNScene` to `.scn` files. Problem is that now all textures have absolute paths since `AssimpImporter` seems to take the texture path from the scene file path. Would i

[2017-06-25 17:59] dmsurti commented on #53
@tsharju Thanks for reporting this.

This is definitely a bug, even `Assimp` does not change the path set in the model. IIRC, I was `inspired` by Blender export settings to have both relative and full file paths for textures. And the fact that tests passed for my initial app which motivated this library, I think I left it at that!

It will be great if you can share a sample file, which does not lo

[2017-06-25 18:27] dmsurti commented on #52
Hi Matthew,

Really sorry for this late a response!!!

To build the assimp static lib, you can find the build settings on this Assimp thread:

https://github.com/assimp/assimp/issues/1036

For your quick ref:

I built the iOS libraries with the following command:
[code]
which generates the correct libraries, including the fat lib under lib.

The settings that I had to apply for the Xcode project,

[2017-06-25 18:28] dmsurti commented on #51
See #52: Useful to add build settings for building the source `Assimp` static library as well.

[2017-06-26 05:30] tsharju commented on #53
I suppose my problem is mostly that I'm using AssimpKit in MacOS and importing an `.fbx` file, that I then export to `.scn` using AssimpKit. I think the problem is [here](https://github.com/dmsurti/AssimpKit/blob/master/AssimpKit/Code/Model/AssimpImporter.m#L600). The `sceneDir` is essentially the path from where the assets were loaded. Now if I save this to `.scn` file and load it to an iOS proje

[2017-06-27 06:48] dmsurti commented on #53
Ahh, my original app did not have this use case. Thanks for the details, this helps a lot in updating the test suite.

Pleased to know that you find this library useful. 👍

[2017-07-02 06:40] dmsurti opened #54 "Integrate Doxygen with Sphinx"
Currently, sphinx generates user and developer docs while Doxygen generates API docs. It is better to integrate Doxygen with Sphinx and just host on readthedocs, using [Breathe](https://breathe.readthedocs.io/en/latest/).

[2017-07-05 10:40] dmsurti opened #55 "Add file extension descriptions"
Update `SCNScene.allowedFileExtensions` to return a tuple with `(extension, formatName)` such as `(dae, Collada)`, `(fbx, Autodesk fbx)`.

[2017-08-10 03:09] ChokWah opened #56 "iOS-Sample Crash when I click ViewModel"
I run iOS Sample in iPad Air2, copy my.obj and my.mtl to app-Document. When I selected the obj in tableview. Then I click view model , it crashed.

Xcode 8.3.2, iPad Air2 - iOS10.3.3
Myobj file is here. You can unpack and put them in.
[myObj.zip](https://github.com/dmsurti/AssimpKit/files/1213570/myObj.zip)

![jietu20170810-111138](https://user-images.githubusercontent.com/13447070/29152945-f90a92

[2017-08-11 09:34] JakubKahovec opened #57 "Creating DAE files with embedded textures"
Hi @dmsurti ,

may I ask how did you manage to create DAE files, in your example app, which have  embedded textures ? I tried Blender 2.78 but it always put them aside, and I'm not even able to read them in AssimpKit. Yours DAE files work fine though.

Thank you.

[2017-08-11 09:46] dmsurti commented on #57
@JakubKahovec I did not create any of these DAE files used in the example app; they come from various sources namely:

- Files in `assimp`
- Files from `openframeworks`
- Files from `apple` examples

What platform are you using AssimpKit on? iOS or macOS.

Your issue could be related to the fact that AssimpKit assumes the texture files are placed along side the source file, the dae files in your c

[2017-08-11 10:44] JakubKahovec commented on #57
Thank you for your quick response. I'm using AssimpKit on iOS.
[Table.zip](https://github.com/dmsurti/AssimpKit/files/1217597/Table.zip)
I'm attaching the exported files.

[2017-08-11 10:54] dmsurti commented on #57
@JakubKahovec Thanks for the files. I will check it over the weekend and let you know.

[2017-08-14 18:00] dmsurti commented on #57
@JakubKahovec AssimpKit fails with the following error:

[code]

A quick look at your `.dae` file in a text editor refers to this:

[code]

I think your diffuse texture may be missing when you export your asset from Blender. Sorry, but I don't have a detailed idea of how Collada exporter of Blender works, but check out their settings and ensure that whatever textures you have used in your blender

[2017-08-14 18:02] dmsurti commented on #56
@ChokWah thanks for reporting this. I have tried with both the Mac and iOS viewers and it does not render, so it is a problem with AssimpKit.

[2017-08-14 18:31] JakubKahovec commented on #57
@dmsurti thank you for such thorough analysis. I've concluded pretty much the same. When exporting though  I tried several options but I was not able to export it in such a way it would work. I also tried other tools like Cinema 4D or SketchUp but with none of them I was able to export it so that it loadable with texturess in  AssimpKit. Without textures it works pretty good, but the only models w

[2017-08-17 07:40] jirisamek opened #58 "Error in AssimpImporter when loading DAE model"
Hi @dmsurti,

I am trying to load [house.dae](https://github.com/dmsurti/AssimpKit/files/1230423/house.dae.zip) with AssimpKit but during the loading there is an error. XCode stops in
[code]
in AssimpImporter

On the row
`scnVertices[verticesCounter++] = aiVector3D->z;`
with
`Thread 27: EXC_BAD_ACCESS (code=2, address=0x1700fc000)`

During loading, there is also message printed in the console:
`[S

[2017-08-17 14:38] dmsurti commented on #58
@jirisamek I am working on a fix for this problem, thanks for reporting this. See PR #59. I think I may have to split the elements into smaller buffers internally, as this fix works for #56, but right now not for #58; but this is the correct fix with more implementation tweaks required for your case.

Are you OK with me using the model you have provided as part of AssimpKit test cases? The [Assimp

[2017-08-17 14:39] dmsurti commented on #56
@ChokWah PR #59 fixes this problem.

Are you OK with me using the model you have provided as part of AssimpKit test cases? The [AssimpKit licenses](https://github.com/dmsurti/AssimpKit/tree/master/licenses) explicitly mention the usage of such files only for testing purpose. Let me know. Thanks!

[2017-08-17 15:20] dmsurti commented on #57
@JakubKahovec I found a .dae file with a 3D model of a wooden create and specular, diffuse and normal textures. I exported it from Blender with the following settings:

<img width="355" alt="screenshot 2017-08-17 20 43 25" src="https://user-images.githubusercontent.com/4158417/29419632-38bc2370-838d-11e7-80a5-ce70be436853.png">

Note that I check the options to Include textures and also the Copy o

[2017-08-17 15:20] #57 closed

[2017-08-17 15:47] jirisamek commented on #58
@dmsurti thank you very much for quick response. The model is not mine. I have downloaded it from https://free3d.com/3d-model/cyprys-house-23761.html, and the licence tag says: "Commercial use License". I didn't find actual text of license so I don't know if it is possible to use it in open source as model in test cases. Also this specific dae seems to have broken textures/materials.

[2017-08-25 07:40] ChokWah commented on #56
@dmsurti I'm ok with that.

In fact, I'm looking for something like  AssimpKit to solve scenekit load model's problem.How can i load model so beautiful by scenekit just like sketchfab. I don't want to adjust model's effect in xcode everytime.

[2017-08-25 14:11] dmsurti commented on #56
@ChokWah Request you to open issues describing the features you want in AssimpKit that will help you build scenes as per envision and that will be really helpful. Thanks 👍.

[2017-08-31 10:27] dmsurti opened #61 "Large mesh, some geometry is missing"
From #56 tyre 3D model which is a large mesh, some geometry is missing after the fix in #59.

See the screenshot in example app compared with blender:

![screenshot 2017-08-31 15 52 54](https://user-images.githubusercontent.com/4158417/29918878-cd815c8c-8e64-11e7-97d6-9102e431008f.png)

<img width="639" alt="screenshot 2017-08-31 15 52 37" src="https://user-images.githubusercontent.com/4158417/299

[2017-09-01 10:15] dmsurti commented on #56
Fixed in #59

[2017-09-01 10:15] #56 closed

[2017-09-01 10:20] dmsurti opened #62 "Apply colors if no texture found"
If a material property does not have a texture, it might have a color so apply that color.

[2017-09-01 10:21] dmsurti opened #63 "Add support for embedded textures"
FBX, blend files for example can contain embedded textures. Implement the detection of such embedded textures and applying those.

[2017-09-01 10:22] dmsurti commented on #58
Fixed in #59. In addition to mallocing scene buffers, it also requires ignoring the faces which are not triangulated!

This model contains material colors and/or embedded textures, which is being fixed in #62 and #64.

[2017-09-01 10:22] #58 closed

[2017-09-02 08:42] dmsurti opened #65 "Use embedded Xcode Server for CI with Xcode 9"
Travis CI is just super super super slow. Time to move on!

[2017-09-02 08:46] dmsurti commented on #63
Fixed in #64

[2017-09-02 08:46] #63 closed

[2017-09-02 08:50] dmsurti commented on #62
Fixed in #64

[2017-09-02 08:50] #62 closed

[2017-09-02 09:12] dmsurti commented on #53
@tsharju I have modified the design in #64, so that color/image objects are applied instead of relying on any external resource. I have tested this by exporting a model to scene kit archive on macOS and testing the exported archive in a scene kit app in an iOS device and that works fine.

Thanks for collaborating, closing this.

[2017-09-02 09:12] #53 closed

[2017-09-02 09:28] tsharju commented on #53
Thanks. Will try it out. :)

[2017-09-02 09:53] dmsurti commented on #54
Well, I forgot I use `appledoc` :-), sticking to `gh-pages` for api docs for now!!!

[2017-09-02 09:53] #54 closed

[2017-09-02 13:44] dmsurti commented on #58
With #64, the house now has textures as well.

@jirisamek Actually this file has all colors for material properties, #64 ensure correct texture and colors are applied to material properties.

<img width="640" alt="screenshot 2017-09-02 18 06 24" src="https://user-images.githubusercontent.com/4158417/29995961-ec520634-9012-11e7-9c15-6675b4525c8b.png">

[2017-09-04 07:04] JakubKahovec opened #70 "Support for Blender files"
Hi Deepak,
do you plan to add support for Blender files (.blend), which are supported by the Assimp library
Thanks

[2017-09-04 11:03] dmsurti commented on #70
@JakubKahovec Yes, as of version 1.2.0 29 files are supported. I now plan to add the pending files. Blender is the next one, as I am also a Blender user :-). Thanks for +1 to blend file support.

FYI, most likely next month will see Blender supported added.

[2017-09-05 09:28] MaddDogg0001 opened #71 "Can't build with Carthage"
Hi !

I'm working on a mobile application, and I wanted to use your library to modify my .dae models for making them compatible with SceneKit.
But when I added your library into my Carthage file I got this :

Build Failed
	Task failed with exit code 65:
	/usr/bin/xcrun xcodebuild -workspace /Users/AOD3746/Projects/ARKit-Drive-iOS/Carthage/Checkouts/AssimpKit/AssimpKit/AssimpKit.xcworkspace -scheme

[2017-09-05 09:53] MaddDogg0001 commented on #71
So finally I found the solution.
I needed to install p7zip to extract the 2 libraries.

Hope it'll help someone.

[2017-09-05 09:53] #71 closed

[2017-09-07 12:31] muhammet opened #72 "Support for glTF"
Hi,

Do you plan to add support for glTF? https://github.com/KhronosGroup/gltf

[2017-09-07 17:23] dmsurti commented on #72
It is not planned for any immediate release, if things go as planned: 2018 Q1.

[2017-09-07 20:15] #72 closed

[2017-09-17 18:52] dmsurti opened #73 "Fail explicitly if 7z is not available"
See: https://github.com/dmsurti/AssimpKit/commit/34e16bfe2fe094face2167897463a563861c99d5#comments

If 7z is not available, fail explicitly. Also update docs to notify the same as a pre requisite.

[2017-09-19 12:14] #73 closed

[2017-09-23 17:37] beak90 opened #76 "Crash Loading Large STL file - iOS-Example"
The iOS-Example program is crashing when loading one particular large STL model (26.9 MB). I don't know if it's crashing because of the size or because the mesh is wonky, but it does open in other editors, so the importer should be able to handle weird meshes without crashing.

Running on physical iPhone 6s, iOS 11.
Running version since commit (most recent at time of writing): https://github.com/

[2017-09-23 17:59] beak90 opened #77 "iOS-Example Requires Adjustments to Build"
The instructions for building and running the iOS-Example code did not work for me: http://assimpkit.readthedocs.io/en/latest/user/examples.html

The first error is the provisioning profile/Team. It must be changed to the user's actual team to sign to code. Or set to none to run in the simulator.

The more important issue is that the framework that is included is referenced to a location that does

[2017-09-24 03:06] dmsurti commented on #76
@beak90 Whoops! Just like other data such as vertices etc; I have to malloc this. Will be fixed in the next patch release 1.2.1.

Thanks for reporting this with a model file.

[2017-09-24 03:14] dmsurti commented on #77
That's because our developer id's and hence provisioning profiles are different! This would work without change if the app is part of some org where you are granted >=TeamMember access; not true here.

Just build AssimpKit-iOS target; then you will have the framework in the expected location.

For the sample apps part of checked out AssimpKit source, carthage is really not required. Carthage shoul

[2017-09-26 17:24] jirisamek opened #78 "Broken textures when loading complex Collada dae"
Hi Deepak,

I am trying to load quite complex house in Collada dae format into SCNSceen. It works but textures are broken. When I open model in Apple Preview or in Open3mod its loaded fine and textures are correct.
[house.zip](https://github.com/dmsurti/AssimpKit/files/1334089/house.zip)

Screenshot of broken textures
![img_1017](https://user-images.githubusercontent.com/10207219/30874107-b2ad9d5e

[2017-09-26 19:54] beak90 commented on #77
Ok gotcha. That worked. Here's the steps for anyone confused. Open up AssimpKit.xcworkspace, click on Library and change the signing team, build the AssimpKit-iOS target, click on iOS-Example and change the signing team, then build/run the iOS-Example target.

[2017-10-01 03:05] beak90 commented on #76
What's the timeline for this patch?

[2017-10-01 04:28] dmsurti commented on #76
3rd or 4th week of October, with Blender support and some other fixes. Thanks.

[2017-10-02 21:35] AlicanC opened #79 "Crash when loading unsupported file"
On the following line
https://github.com/dmsurti/AssimpKit/blob/8d5997c4f52ab567a978e8b0a4916b49a5694535/AssimpKit/Code/Model/AssimpImporter.m#L131
even if `aiScene` is not `NULL`, `aiScene->mRootNode` can be, and makes `[AssimpImporter makeSCNNodeFromAssimpNode:inScene:atPath:]` crash.

I am not sure if `aiGetErrorString()` has anything when this happens, but if it does, printing it can also be u

[2017-10-03 03:31] dmsurti commented on #79
Please submit the error trace and the model file which causes the problem. Thanks.

[2017-10-05 10:05] AlicanC commented on #79
This is the model: https://sketchfab.com/models/d6c802a74a174c8c805deb20186d1877
(I accidentally tried to load the GLTF version with AssimpKit.)

[code]

[2017-10-05 13:22] dmsurti commented on #79
I checked the FBX file is imported fine both in iOS and macOS sample apps. Please ensure that you have [installed](http://assimpkit.readthedocs.io/en/latest/user/getting_started.html#installation) AssimpKit correctly and if you are using it in your app, please refer to the [instructions/tutorial](http://assimpkit.readthedocs.io/en/latest/user/tutorial.html).

For installation, you can also refer t

[2017-10-05 13:22] #79 closed

[2017-10-06 18:22] beak90 commented on #61
I'm seeing this issue with a lot of files. I've attached a zip with a few stl files that have a significant amount of missing geometry. I've tried setting many preprocessing settings, including AssimpKit_Process_FixInfacingNormals, but the issue remains. It does appear that some of the geometry is only showing on one side of the triangles, but other parts of the geometry is missing no matter which

[2017-10-07 19:13] AlicanC commented on #79
Crashing should not be considered a correct behaviour in any case.

One could make an app in which users can select their own model files. In that case, a user can select an unsupported file (just like I did) and the app would crash. Apps shouldn't crash.

AssimpKit should error instead of crashing so app developers like me can display helpful messages to their users.

[2017-10-07 19:56] dmsurti commented on #79
@AlicanC Please read the manual before offering advice as to how things should be done.

There is a specific method `https://dmsurti.github.io/AssimpKit/appledocs/html/Categories/SCNScene+AssimpImport.html#//api/name/canImportFileExtension:` which you should call to check if the format you are trying to load is supported or not!

[2017-10-09 17:12] Leo-Kuyaco opened #82 "'AssimpKit/PostProcessingFlags.h' file not found"
Hello,

I'm getting an error message saying, "'AssimpKit/PostProcessingFlags.h' file not found" .

I copied the file AssimpKit.framework generated by carthage in my project per instructions but I'm not sure why I'm still getting this error message.  Please help when you get a chance.

Thanks,
Leo

[2017-10-10 12:10] dmsurti commented on #82
@Leo-Kuyaco Are you sure, your Carthage build succeeded? Ensure you have `p7zip` installed, this is a recent change in the build process.

It will be easier to help, if you can push a sample project that shows the problem.

There is a [sample project](https://github.com/dmsurti/AssimpKitCarthage-iOSDemo) that uses AssimpKit as an external dependency; may be that can help.

[2017-10-10 13:13] Leo-Kuyaco commented on #82
Hi @dmsurti,

Thanks for your immediate reply.  I'm certain that the Carthage build succeeded because I can see the files that were created after the carthage update.  I'm also certain that I installed p7zip because I was getting an error message when I was doing the carthage update and it went away after I installed the p7zip.

What I've done are as follows:
(1) Copied original project
(2) Instal

[2017-10-10 13:55] dmsurti commented on #82
Sorry, but I don't understand; what is your goal? To work on the `AssimpKit` source itself or to use `AssimpKit.framework` as a dependency in some app of yours.

For the former, just build the targets; see #77. You don't use Carthage when you work on `AssimpKit` source itself.

To use `AssimpKit.framework` in your app, you just add the Cartfile to your app sources, build and drop `AssimpKit.framew

[2017-10-10 14:09] Leo-Kuyaco commented on #82
I just want to use Assimpkit to convert fbx files to scn files.  I was under the assumption that you need the Assimpkit.framework to do this.  When I ran the sample project you mentioned above, I still get the same error message.  I didn't do anything else but copy the project and run it.  Should I be doing something else?

<img width="909" alt="screen shot 2017-10-10 at 10 07 09 am" src="https://

[2017-10-10 16:15] dmsurti commented on #82
@Leo-Kuyaco You have to run `carthage update` in the directory of the cloned project. I just did a fresh clone and I get no such build error.

Your screenshot also shows `AssimpKit.framework` in red which implies it is not yet built.

Similar to this project, in your project, add a Cartfile, run `carthage update` and add the `AssimpKit.framework` to your project's embedded binaries section.

Scree

[2017-10-10 16:49] Leo-Kuyaco commented on #82
Got it working!  Thank you for you patience!  This is awesome!

I guess my next question is, does AssimpKit actually generate an scn file after you load your projects in it?  I was under the assumption that AssimpKit is an asset converter.

![img_1778](https://user-images.githubusercontent.com/32645280/31399196-777312ee-adb9-11e7-90c2-11f342c7cd3f.JPG)

[2017-10-10 16:57] dmsurti commented on #82
Great 👍

Definitely, it is a converter that converts the supported file formats to SceneKit files. It gives you `SCNScene` instances which you need to serialize.

[`SCNAssimpScene` holds native `SCNScene`](https://dmsurti.github.io/AssimpKit/appledocs/html/Classes/SCNAssimpScene.html) model and animation scene objects, so you can just use these [regular options](https://developer.apple.com/documen

[2017-10-10 17:04] #82 closed

[2017-10-10 18:21] Leo-Kuyaco commented on #82
I'm going to admit... Objective-C is not my strong suit.  I've been working on serializing the scene file but haven't had any luck.  Can you look at my code below and see what I'm doing wrong?  All I want is for the scn file to be generated in the same location where it's reading the files from.  I really appreciate if you can do me a solid and help me with last request.  Thanks so much!

<img wid

[2017-10-10 18:34] dmsurti commented on #82
You are writing to the docsDir, instead you have to write to a file in the docsDir with the file scheme PS: I am writing this off the top of my head and the code below might need some minor fixes in Xcode.

[code]

Now use the above URL in your `writeToURL` method. Note that you will have to fetch the bobScnFile via iTunes files sharing as we are writing it to the docs dir. The above definitely wo

[2017-10-10 19:14] Leo-Kuyaco commented on #82
You the man @dmsurti!  I truly appreciate all your help.  Couldn't have done it without you :).

<img width="1015" alt="screen shot 2017-10-10 at 3 12 44 pm" src="https://user-images.githubusercontent.com/32645280/31405959-a34661f0-adcd-11e7-8b64-53f613f677cd.png">

[2017-10-16 12:27] LucasZL opened #83 "No transparency"
I tried everything but can't get transparency to work.
I exported from 3 different programs (Cinema 4D, Blender and 3dsmax) in all kinds of formats (.obj, .fbx, .3ds, .dae and so on) but every time neither the iOS App I wrote, nor the provided os x App shows any kind of transparency. Is this a well known missing feature or am I missing something?

[2017-10-16 14:34] JakubKahovec commented on #70
Hi Deepak,
how does it go with the support for Blender ?
Thanks

[2017-10-16 18:06] dmsurti commented on #70
I have done some testing with with some complex Blender files and the results are only satisfactory (both geometry and textures/materials). I might just release it as an alpha support so it can be tested out in the wild.

It will be great if you can share some blender files for testing.

[2017-10-16 20:02] dmsurti commented on #83
@LucasZL Please attach a sample file (any 1 format will do) and screenshots of expected render vs what you get as that really helps to understand the problem clearly. Thanks.

[2017-10-16 20:02] dmsurti commented on #83
Btw, transparency is supported; so it should work.

[2017-10-17 06:55] LucasZL commented on #83
Sure. I can't give you access to the files I tried yesterday as I am not allowed to share them but I tried a simple Cube with transparency and it's also not working.

This is what I am seeing in Cinema 4D:
![transparency](https://user-images.githubusercontent.com/8128416/31650534-09ec67f2-b318-11e7-9b70-134ae380f6ac.png)

And this is what I am seeing in the OSX Sample program:
<img width="641" alt

[2017-10-17 09:19] dmsurti commented on #83
@LucasZL

That's understandable, no problem.

The sample file you have provided is sufficient for testing this bug. Thanks.

[2017-10-17 09:25] dmsurti commented on #83
Just tested with latest master. even with release v 1.2.0 you will get the colors. Please check what version you are using. But, yes there is the transparency not correctly applied and is a bug.

<img width="1015" alt="screenshot 2017-10-17 14 54 25" src="https://user-images.githubusercontent.com/4158417/31657083-1dff3de0-b34b-11e7-952a-b9c37dfa3e88.png">

[2017-11-02 06:50] cissusnar opened #84 "fbx not supported"
when I load a fbx file, it will print following errors:

2017-11-02 14:50:19.971128+0800 OSX-Example[12918:245460] errors encountered while discovering extensions: Error Domain=PlugInKit Code=13 "query cancelled" UserInfo={NSLocalizedDescription=query cancelled}

[2017-11-02 07:25] dmsurti commented on #84
FBX is supported. Please attach the fbx file or a sample fbx file that demonstrates this error for further investigation. Thanks.

[2017-11-02 07:37] cissusnar commented on #84
sorry, just forgot upload sample.  :P

[Sapphiart_model.fbx.zip](https://github.com/dmsurti/AssimpKit/files/1436798/Sapphiart_model.fbx.zip)

[2017-11-02 08:03] dmsurti commented on #84
No worries. I just checked and it is a problem with the `assimp` library that `AssimpKit` uses to import the models.

The error reported is:

[code]

I have reported this [error upstream to `assimp`](https://github.com/assimp/assimp/issues/1527).  Once it is fixed there, AssimpKit will handle it fine. Closing this for now as it is dependent on a fix upstream.

[2017-11-02 08:03] #84 closed

[2017-11-02 14:59] tobyduffy commented on #61
I'm also still experiencing this issue, I've attached an .obj that is giving me issues as well as the tire model shown above. Any idea on when v1.3 will be released with this bug fix?

[helicopter.obj.zip](https://github.com/dmsurti/AssimpKit/files/1438225/helicopter.obj.zip)

[2017-11-02 15:16] dmsurti commented on #61
@tobyduffy Yes, there is a fix in place, not yet integrated. v1.3.0 is [due for release mid November](https://github.com/dmsurti/AssimpKit/milestone/9).

Thanks for sharing the file.

[2017-11-08 13:54] anton-plebanovich opened #85 "[Question] Is it possible to catch Assimp exceptions?"
Hi @dmsurti . I'm trying to catch Assimp C++ exceptions using `@try {} @catch (...) {}` block but for some reason exceptions do not reach it and application just crashes instead.

Sample model: https://s3-eu-west-1.amazonaws.com/show-it/candle.dae

Sample code in `GameViewController.m` using `AssimpKit_Process_ValidateDataStructure` step:
[code]

Stack Trace:
![image](https://user-images.githubuse

[2017-11-08 17:41] dmsurti commented on #85
@anton-plebanovich I am able to load this `.dae` file fine, albeit without the textures.

<img width="757" alt="screenshot 2017-11-08 23 00 02" src="https://user-images.githubusercontent.com/4158417/32564055-fb82b220-c4d8-11e7-802b-ccc087fdb3bd.png">

I think right now `validateDataStructure` flag is causing the import to fail, as it is a strict validation.

However, yes, the API can definitely be

[2017-11-09 07:44] anton-plebanovich commented on #85
Thanks for the answer @dmsurti !

[2017-11-09 10:17] anton-plebanovich commented on #85
App doesn't crash with latest `libassimp-fat.a` lib I built from source.

@dmsurti Are you using something different from `master` branch? My model after conversion looks like this:
![simulator screen shot - iphone se - 2017-11-09 at 13 14 40](https://user-images.githubusercontent.com/10807812/32600226-f779b58a-c54f-11e7-8ba3-22bd72702a5f.png)

[2017-11-09 11:59] anton-plebanovich commented on #85
Created pull request with swift-compatible error processing - https://github.com/dmsurti/AssimpKit/pull/86

[2017-11-09 12:55] dmsurti commented on #85
@anton-plebanovich Yes, that is from a different branch I was working on for the next milestone.

[2017-11-09 12:56] dmsurti commented on #85
Awesome. Thanks for the effort 👍 . I will be able to review this on Mon, will let you know my comments and/or merge this.

[2017-11-16 19:12] dmsurti commented on #85
Fixed in #86.

[2017-11-16 19:12] #85 closed

[2017-12-01 07:40] dmsurti opened #89 "Add sample model file for vertex colors"
Related to #88.

[2017-12-06 17:47] mreiche opened #91 "Unable to load model from bundle"
I'm using the iOS example as template and built up a new project with a single UIViewController with SCNView as view. I'm trying to load the ``skinned_explorer.dae`` model from app bundle, which is the main difference between my app, and the iOS example, which loads the model from user documents directory.

[code]

It doesn't matter which type of import I use. I always get the following error:

``

[2017-12-06 18:17] mreiche commented on #91
Wrong project: I moved the issue here: https://github.com/assimp/assimp/issues/1616

[2017-12-07 04:21] dmsurti commented on #91
My educated guess is: `.dae` files are processed by Xcode and what `AssimpKit` loads is that processed version from your app bundle. `.dae` is the file format that SceneKit supports.

To test further, you could open the `.dae` from your app bundle (via Finder), add that to user docs and load that with AssimpKit; you might end up with the same error.

IIRC, in the docs I have used an example `.obj`

[2017-12-07 04:59] dmsurti commented on #89
Closed in #90 .

[2017-12-07 04:59] #89 closed

[2017-12-07 14:50] kimkulling commented on #91
I guess I need a Mac to reproduce this issue, right?

[2017-12-07 14:50] kimkulling commented on #91
Did you wrote the exporter in Objective-C?

[2017-12-07 14:51] dmsurti commented on #91
@kimkulling Yes you need a Mac to test this issue and the exporter is written in Objective-C.

[2017-12-07 16:47] mreiche commented on #91
@dmsurti Yes, you were right with your educated guess. XCode does performing a scenekit conversion of Collada (.dae) assets. Therefor I'm able to load this scene directly like
``[SCNScene sceneNamed:@"art.scnassets/explorer_skinned.dae"];`` but not with AssimpKit anymore. I think this is an important hint for the tutorial.

[2017-12-07 16:47] #91 closed

[2017-12-11 21:19] leandrodemarco opened #92 "Can't manage to export fbx as scn"
This is probably some dumb mistake I'm missing, but been stuck with it for quite a few hours now so I'd appreciate any help or hint to solve it. I have a bunch of .fbx files I'd like to convert to .scn
I'm doing it on Mac, with a very tiny simple app which on it's `applicationDidFinishLaunching:` method has the following lines

[code]

In theory everything goes fine as for each one of the files I

[2017-12-12 06:34] dmsurti commented on #92
@leandrodemarco

You need to write out the `modelScene` and/or `animationScenes` inside your `SCNAssimpScene` object. See: https://dmsurti.github.io/AssimpKit/appledocs/html/Classes/SCNAssimpScene.html

So it should be for example:

[code]

[2017-12-12 20:49] leandrodemarco commented on #92
HI @dmsurti, thanks for the quick reply and for the great work maintaining this library. I forgot to mention in my original post I had also tried writing out the `modelScene` with exactly same results. Would it help if I upload one of the fbx files? (it weights around 20 MB)

[2017-12-13 03:45] dmsurti commented on #92
@leandrodemarco

👍

Have you also tried loading the file with the macOS/iOS sample apps in the `AssimpKit` repo? That way you know that there is not problem in reading and viewing the fbx file.

Sure thing, upload the FBX file. IIUC, you are not able to write this FBX to a `scn` file? Otherwise, uploading a sample project to GH would also help.

[2017-12-13 22:08] magicmikek opened #93 "iTunes Connect Upload Failed with Error"
I added AssimpKit to my Xcode Project. But now I am not able to upload it to iTunes Connect anymore.
These are the errors I am receiving.
<img width="1060" alt="screen shot 2017-12-13 at 23 07 10" src="https://user-images.githubusercontent.com/7288679/33964945-8477385c-e05a-11e7-919e-eaff24f2ff44.png">

[2017-12-14 05:58] dmsurti commented on #93
This is not an `AssimpKit` problem but a `carthage` issue which can be fixed by adding a script that removes the `unsupported architectures` based on your project settings.

See this: http://ikennd.ac/blog/2015/02/stripping-unwanted-architectures-from-dynamic-libraries-in-xcode/ for the script.

[2017-12-14 05:58] #93 closed

[2017-12-14 11:39] magicmikek commented on #93
I did not use Carthage. I manually added the Assimpkit Framework to my Project

[2017-12-14 11:45] dmsurti commented on #93
Ok, wrong assumption on my part.

Not really recommended that you do so manually.

Nevertheless, `AssimpKit.framework` contains more architectures than your app and you need to strip out those and the script I referred to should help you strip those out, whether you install with carthage or manually. Hope this helps.

[2017-12-14 12:12] magicmikek commented on #93
Do you think I can install Assimpkit with Carthage although I also use cocoa pods?

[2017-12-14 12:37] dmsurti commented on #93
Yes, carthage and cocoa pods can be used in same project. PS: Even if you use carthage, you may/will still have to strip out the unsupported architectures.

[2017-12-14 13:28] leandrodemarco commented on #92
Sorry for the delay @dmsurti. Here's a link to one of the fbx files: https://ufile.io/zpqe5

Exactly that, my Mac "app", just contains those lines I posted.

I've just cloned the repo. I just opened the workspace and see there's an OSX-Example app. You mean to compile that?

[2017-12-15 08:34] dmsurti opened #94 "FBX model incorrect rendering"
A sample fbx file attached here: should be rendered as:

<img width="1028" alt="screenshot 2017-12-15 14 01 20" src="https://user-images.githubusercontent.com/4158417/34033585-cdb26252-e1a0-11e7-91be-f9d68ab2c405.png">

but is rendered as:

<img width="1377" alt="screenshot 2017-12-15 14 00 40" src="https://user-images.githubusercontent.com/4158417/34033588-d0f5ea6a-e1a0-11e7-87d5-134967306f7f.png

[2017-12-15 08:37] dmsurti commented on #92
@leandrodemarco There is no problem per se in `AssimpKit` with the fbx model. I loaded it fine and also wrote it out to a `.scn` file without any issues.

The minimal relevant sample code to save is:

[code]
I have attached the compressed exported scn file here. [kia-hq-anim-00.scn.zip](https://github.com/dmsurti/AssimpKit/files/1562044/kia-hq-anim-00.scn.zip)

Orthongal to the export issue, there

[2017-12-15 08:37] #92 closed

[2017-12-15 08:37] dmsurti commented on #94
See: #92

[2017-12-20 01:55] aaronnicholson opened #95 "Carthage Won't Build Assimpkit"
Hi there!
For some reason, Carthage will pull down Assimpkit into my project but then fails on the build stage. I have verified that 7z is installed add accessible.

Do you know what else I can do? Is there a way to bypass the automatic Build step and get that part done on my own?

TERMINAL OUTPUT:
Aarons-MacBook:ARAppExperimentation aaronnicholson$ carthage update
*** Fetching AssimpKit
*** Check

[2017-12-20 18:28] dmsurti commented on #95
Your `carthage update` fails because for some unknown reason, your checkout does not have the `.7z` archives.

From your log:

[code]

which should ideally be:

[code]

You need to fix carthage issues. I tried on a sample project with `1.2.0` and there were no issues with carthage installation. There is also a sample project for quick testing of AssimpKit installation with Carthage: https://github

[2017-12-20 18:28] #95 closed

[2017-12-27 11:29] jiw0220 opened #96 ".STL render error"
Effect:
![image](https://user-images.githubusercontent.com/6737088/34380391-10b4e72e-eb3c-11e7-82db-d09e370b08fe.png)

Error:
![image](https://user-images.githubusercontent.com/6737088/34380361-df36b3bc-eb3b-11e7-9426-7c14642beffd.png)

Code:
[code]

[2017-12-27 16:39] dmsurti commented on #16
When implemented: fixes #96  and #76.

[2017-12-27 16:40] dmsurti commented on #96
@jiw0220 Thanks for reporting and providing the `.stl` file.

Will be fixed when #16 is implemented.

[2017-12-28 02:01] jiw0220 commented on #96
@dmsurti
The STL has been sent to you by gmail

[2018-01-15 09:54] azolyoung commented on #58
Hi, I've same issue with  newest code in master branch .

It's throw exc_bad_access in the makeTangentGeometrySourceForNode:
`SCNGeometrySource *tangentSource = [SCNGeometrySource
        geometrySourceWithData:[NSData
                                   dataWithBytes:scnTangents
                                          length:nVertices * 3 * sizeof(float)]
                      semantic:SCNGeomet

[2018-01-15 09:55] azolyoung commented on #58
I'm using a model by obj+mtl+jpg

[2018-01-15 10:00] azolyoung commented on #58
oh, I found the reason why it would crash on iOS 8, because in , it using a constant that only available after iOS 10, it is `SCNGeometrySourceSemanticTangent`, here is the define:
FOUNDATION_EXTERN SCNGeometrySourceSemantic const SCNGeometrySourceSemanticTangent API_AVAILABLE(macos(10.12), ios(10.0), tvos(10.0));

[2018-01-15 10:10] dmsurti commented on #58
@azolyoung `AssimpKit` minimum iOS requirement is iOS 10.0 or later, which is listed in the `README.md` and in the project home page.

[2018-01-26 08:04] eugenebokhan opened #98 "Thread 1: EXC_BAD_ACCESS standard C memory issue"
While loading some DAEs and FBXs (and some other formats) sometimes we get EXC_BAD_ACCESS exception. Fixed in #97 pull request

[2018-01-26 15:07] dmsurti commented on #98
Can you please attach a sample file to reproduce the issue? Please see my comments on your PR #97.

[2018-02-03 17:21] anton-plebanovich commented on #95
This one was because paths in build script are not quoted.

[2018-02-05 10:59] dmsurti commented on #14
No request ever made for cocoa pods support 👍, so closing it.

[2018-02-05 11:32] MadhuiOS commented on #53
Hello @dmsurti,
first  thanks for a great library. i am using it to load FBX files in my iOS application, but it is not loading textures, can you please help me this.

[2018-02-06 10:35] dmsurti commented on #53
@MadhuiOS

👍

Kindly request you to open a new issue and attach a sample asset to reproduce the problem with any logs reported, that can help to resolve the issue you are facing.

[2018-02-06 11:09] MadhuiOS opened #99 "Texture issue in FBX file"
@dmsurti Please find the sample FBX file.

[test_16.zip](https://github.com/dmsurti/AssimpKit/files/1698746/test_16.zip)

[2018-02-06 11:43] dmsurti commented on #99
@MadhuiOS Thanks for the sample asset. Your asset has an embedded texture and there are a few fixes around that in `assimp v4.1.0`, which `might` fix this problem.

Currently, AssimpKit uses `assimp v4.0.1` library. The next release of `AssimpKit` will integrate the `assimp v4.1.0` library, so if there is a fix in the upstream dependent `assimp`, this should be fixed.

Once I debug further in `Ass

[2018-02-06 12:44] dmsurti commented on #99
@MadhuiOS For the binary format file, where you see the [tokenize error](https://github.com/assimp/assimp/issues/1527#issuecomment-350580009), we have to wait till it is fixed in `assimp` upstream.

For the non binary format, if it is fixed in `v4.1.0`, we are lucky! I plan to release `v1.3.0` of `AssimpKit` [this month end](https://github.com/dmsurti/AssimpKit/milestone/9), unfortunately this rel

[2018-02-06 14:40] kimkulling commented on #99
Hi, I just checked the file and there is no visible texture in your model. So we still need to fix this issue in assimp.
By the way: I hate FBX ...

[2018-02-06 18:47] dmsurti commented on #99
@kimkulling  Thanks for the update.

FBX = Ferociously Benzoic Xylenol :-D

[2018-02-07 11:24] anton-plebanovich commented on #95
PR with fix - https://github.com/dmsurti/AssimpKit/pull/100

[2018-02-07 11:44] dmsurti commented on #95
@anton-plebanovich Thanks so much. I will review this over the weekend/merge it. Cheers.

[2018-02-22 20:14] colejd commented on #14
Don't the thumbs-ups count? At any rate, I'd be very grateful if you did this.

[2018-02-23 05:38] dmsurti commented on #14
I heard you.  :-)

[2018-02-26 02:38] Nanxia opened #101 "AssimpKit can not display all the animations of the FBX model"
AssimpKit can not display all the animations of the FBX model, only a portion of the animation. I would like to ask what is the reason for such a result

[2018-02-26 11:40] dmsurti commented on #101
- Please attach a model file that demonstrates the problem
- Does your file contain multiple animations? e.g.; walk, run, jump
- Does a single animation not play completely is what you mean when you say `only a portion of the animation`.
- Please attach the relevant code that loads/plays these animations

[2018-02-27 06:28] Nanxia commented on #101
1. This is a demonstration model.
[2.FBX.zip](https://github.com/dmsurti/AssimpKit/files/1761432/2.FBX.zip)
2. This model is a swinging couplet, but this model is only swingable by the left pair.
3. The sample code is as follows:
- (void)viewDidLoad
{
    [super viewDidLoad];

    NSString *filePath = [[NSBundle mainBundle] pathForResource:@"duilian1" ofType:@"FBX"];

    self.modelFilePath = file

[2018-02-27 06:31] Nanxia commented on #101
1. This is a demonstration model.
[duilian.FBX.zip](https://github.com/dmsurti/AssimpKit/files/1761487/duilian.FBX.zip)
2. This model is a swinging couplet, but this model is only swingable by the left pair.
3. The sample code is as follows:
(void)viewDidLoad
{
[super viewDidLoad];

NSString *filePath = [[NSBundle mainBundle] pathForResource:@"duilian" ofType:@"FBX"];

self.modelFilePath = filePat

[2018-02-27 07:02] Nanxia commented on #101
After I tried to change the AssimpKit source code, I solved the animation problem but did not know if it was correct and the changes were as follows:

No change before :
![1](https://user-images.githubusercontent.com/12946383/36714796-8eaef49a-1bce-11e8-9f2a-055ce5362ae8.png)

After the change :
![1](https://user-images.githubusercontent.com/12946383/36714805-960629c0-1bce-11e8-91dc-e52a8ea73818.p

[2018-02-27 07:37] dmsurti commented on #101
Thanks for providing the file. Comparing it with FBX review tool, I can see only 1 vertical block on the left is animated using AssimpKit.

Btw, your code change is wrong and unnecessary. You should probably [read how to load animations](http://assimpkit.readthedocs.io/en/latest/user/tutorial.html#load-skeletal-animations).

The gist is: you load the model scene, then load the animations (from the

[2018-02-27 08:39] Nanxia commented on #101
So AssimpKit loading FBX animation is a problem right?

The correct way is as follows:

- (void)viewDidLoad
{
    [super viewDidLoad];

    NSString *filePath = [[NSBundle mainBundle] pathForResource:@"duilian" ofType:@"FBX"];

    SCNAssimpScene *animScene =
    [SCNScene assimpSceneWithURL:[NSURL URLWithString:filePath]
                postProcessFlags:AssimpKit_Process_FlipUVs |
     AssimpKit_

[2018-02-27 08:43] dmsurti commented on #101
Yes, hence I have labeled this issue as a bug.

[2018-02-27 08:51] Nanxia commented on #101
Thank you @dmsurti  for sharing, looking forward to your update

[2018-02-28 03:09] lijingpei2016 opened #102 "duration, this property does not take effect"
I tried to set the fbx model animation time, but set the duration, no effect. The model plays the complete animation.
![666](https://user-images.githubusercontent.com/23467693/36767936-c9999322-1c77-11e8-906c-877fa86f56aa.png)

[2018-02-28 03:58] #102 closed

[2018-02-28 06:19] lijingpei2016 opened #103 "removeAnimationSceneForKey, this method does not take effect"
hi，
    I want to stop the animation in this way, but without effect, the animation will always play.

- (void)removeAnimationSceneForKey:(NSString *)animKey
                   fadeOutDuration:(CGFloat)fadeOutDuration；

My model is fbx

![666](https://user-images.githubusercontent.com/23467693/36772952-53e9c9c4-1c92-11e8-821d-e5b739dc87e6.png)

[2018-03-01 01:53] #103 closed

[2018-03-08 04:25] MadhuiOS commented on #99
@dmsurti Can you please support to solve this bug, i only facing texture issue.

[2018-03-13 08:59] MadhuiOS commented on #99
@dmsurti Can you please tell me when you're planning to release next version.

[2018-03-14 04:23] dmsurti commented on #99
@MadhuiOS Sorry, right now I am busy with other stuff that needs to be given higher priority and not sure when I can fix a few things (WIP) and make a new release.

[2018-03-23 04:13] MadhuiOS commented on #99
@dmsurti @kimkulling Can you please give me any solution and any idea to solve this issue or give me any direction how to find the solution to  make this texture visible, this is urgent for my project, if you can help that could be great, thanks.

[2018-04-04 03:37] ArchimboldiMao commented on #14
Please add support for CocoaPods. I’d be grateful too.

[2018-04-06 23:06] AnanlaTech opened #104 "Swift Example similar to ObjC"
It would be helpful if the document contains swift examples

[2018-05-20 04:48] nkrao09 opened #105 "How can I apply scaling, translation and rotation for a model"

[2018-07-10 12:34] burhanuddin353 commented on #105
How did you load .3ds model? can you share a sample code?

[2018-07-26 04:43] MadhuiOS commented on #99
@dmsurti Can you please solve this issue.

[2018-08-06 07:13] SanyaUA opened #109 "The problem with the import of external textures for the 3ds model"
I use AssimpKit library in my iOS application for export different 3d formats into ARKit app, but I have a problem with applying external textures to the model. Geometry of the model exporting correctly. But external textures does not apply. I have read all issues in the library repo and it didn’t help.
Code which is responsible for import 3ds models:

`NSArray * paths = NSSearchPathForDirectories

[2018-08-22 06:43] Wayxq opened #111 "[UIView setScene:]: unrecognized selector sent to instance 0x101906830"
hi,
![image](https://user-images.githubusercontent.com/15503325/44447151-c556e680-a619-11e8-82b9-cb60a8605d60.png)

[2018-09-25 15:42] ghost commented on #109
Also receiving this issue on a couple of my models

[2018-10-01 16:27] icatmed commented on #14
please do add support... thank you

[2018-10-24 10:14] alexanderwallin commented on #79
I've had `EXC_BAD_ACCESS` crashes for `.obj` files that theoretically are supported. To learn whatever was wrong with the model would be ace!

[2018-10-24 10:19] alexanderwallin commented on #79
Okay, just found and used the `AssimpKit_Process_ValidateDataStructure`. Would it be a good idea to always have this enabled?

[2019-01-10 02:00] LWSSS opened #112 "[SCNScene assimpSceneWithURL: unrecognized selector sent to class"
@dmsurti
hey...
  Here are my steps how to use Carthage import AssimpKit,and then program in my demo.
 1. run 'touch Cartfile' to create a Cartfile in the same directory of my demo.xcodeproj
 2. write 'github "dmsurti/AssimpKit" "master' in Cartfile
 3. run Carthage update ,then a folder named Carthage created in the same directory, which containes AssimpKit
 4. add AssimpKit.framework to my demo

[2019-04-26 07:26] Jiangpeng123 opened #113 "Scene importing failed for filePath DAE"
SCNScene *scene = [SCNScene sceneNamed:@"art.scnassets/people.DAE"];
self.sceneView.scene = scene;
Its OK
But
SCNAssimpScene *scene = [SCNAssimpScene assimpSceneNamed:@"@"art.scnassets/people.DAE"" postProcessFlags:AssimpKit_Process_FlipUVs| AssimpKit_Process_Triangulate];
Its bad
This problem can occur in any dae file
I'm looking forward to your help very much，thank you

[2019-05-15 15:56] mats-claassen commented on #37
Hi @dmsurti, what do you think about adding newer post processing flags like `aiProcess_GlobalScale`?

[2019-08-07 07:11] bhartsb1 opened #114 "Xcode project won't build RE: ld: library not found for -lassimp-fat"
I load the workspace in Xcode 10.2.1 and attempt to build:

Yields Error:
ld: library not found for -lassimp-fat

Noted  that there seems to be the following missing static libs:

libIrrXML.a
libIrrXML-fat.a
libassimp-fat.a
libassimp.a

I cloned and built assimp at the terminal.  It produced:

libassimp.a
libIrrXML.a

but didn't produce the multi-architecture -fat versions.

If I remove the others

[2019-08-07 08:49] anton-plebanovich commented on #114
Check that you have 7z installed
https://github.com/dmsurti/AssimpKit#installation-with-carthage-ios-100-macos-1011

and that you have the latest master because otherwise you might have the issue with spaces in a path to a project https://github.com/dmsurti/AssimpKit/pull/100.

[2019-08-27 03:55] ZTY2016 opened #115 ".fbx model might loss textures"
I really confuse that one or two .fbx model can cover with their skin but most of them is just a gray object. I draw the model with their animation and textures from Unity Asset folder to the App's document, is there something wrong?

[2019-09-29 09:20] XinQiXiao opened #116 "Xcode run crash."
Mac OS: 10.14.6
Xcode:  11.0 (11A420a)
iOS : 13.1.1

crash reason fot this: dyld: Library not loaded: @rpath/AssimpKit.framework/AssimpKit  ***
Reason: image not found

[2019-11-06 04:49] vgruiz commented on #114
I got "ld: library not found for -lassimp". Not sure if my solution is relevant at all but my issue was having a space in one of the directory names. Once I corrected that it built correctly.

[2020-02-20 16:23] #98 closed

[2020-04-02 09:10] f18298335152h commented on #111
I meet the same error , can you tell me, what can i do ? thanks

[2020-04-02 09:12] anton-plebanovich commented on #111
Your controller view should be of type SCNView but it just an ordinary UIView. You can correct it by editing your storyboard/xib

[2020-04-02 09:59] f18298335152h commented on #111
can you show me the code ？ you mean i must init a SCNView then use the button to other SCNView. thanks.

[2020-04-02 10:04] anton-plebanovich commented on #111
Please check `Main.storyboard`
<img width="1144" alt="Screen Shot 2020-04-02 at 13 03 11" src="https://user-images.githubusercontent.com/10807812/78236325-7b66ff80-74e2-11ea-8c45-c141357de06e.png">

[2020-06-16 09:58] tujinqiu opened #117 "App size increase about 16M"
The static library libassimp-fat.a is too large, is there a way to thin this?

[2020-06-16 14:21] anton-plebanovich commented on #117
You may try to build it with more aggressive size optimizations but more likely it won't help much so the answer is no.

[2020-07-16 12:30] engasix commented on #116
<img width="547" alt="Screen Shot 2020-07-16 at 5 26 29 PM" src="https://user-images.githubusercontent.com/27852157/87670943-fd292300-c789-11ea-91bc-7ab0b44a40d2.png">

I hope this will help!

[2020-07-17 04:06] JacobXrspace opened #118 "Loading fail .ply file for point cloud."
I try to load .ply file, but this file is strange.
`    NSError *error = nil;
    NSURL *modelFileURL = [NSURL fileURLWithPath:self.modelFilePath];
    SCNAssimpScene *scene =
        [SCNScene assimpSceneWithURL:modelFileURL
                    postProcessFlags:AssimpKit_Process_FlipUVs |
                                     AssimpKit_Process_Triangulate
                               error:&erro

[2020-07-26 07:59] dmsurti commented on #118
@JacobXrspace can you please share the file?

[2020-07-26 18:19] loringit commented on #101
Hi!
Any updates?

[2020-07-27 01:35] JacobXrspace commented on #118
This is the ply file, I add the txt for upload.
[TestFile.ply.txt](https://github.com/dmsurti/AssimpKit/files/4979386/TestFile.ply.txt)

[2020-07-29 10:05] Daboo1998 opened #119 "Add support for Swift Package Manager"
I would love to use this library, but I want to do it using the Swift Package Manager as I load all third party frameworks using it. SPM is used more and more, which makes integration with it a logical move to do. Please consider it.

[2020-08-10 05:07] 8secz-johndpope commented on #119
I'm using this with swift / cocoapods thanks to @eugenebokhan - but can't get animations working...
https://github.com/johndpope/demo-unistroy

[2020-08-10 05:17] 8secz-johndpope commented on #104
There's this library -
https://github.com/eugenebokhan/AssetImportKit

demo successfully loads fbx file.
https://github.com/johndpope/demo-unistroy

[2020-08-10 05:18] 8secz-johndpope commented on #14
there's a cocoapod here with swift
https://github.com/eugenebokhan/AssetImportKit

[2020-08-10 05:51] johndpope commented on #101
I'm banging my head against the wall on similiar issue downstream with swift port
https://github.com/eugenebokhan/AssetImportKit/issues/14

failed attempts to get my fbx import to animate in swift.
@Nanxia - I followed your instructions but no joy.
https://github.com/johndpope/demo-unistroy

[code]

[2020-08-11 00:35] johndpope commented on #119
https://github.com/ndreca/Assimp

[2020-08-12 04:55] johndpope commented on #101
UPDATE - I got the library loading fbx + animations with swift / via carthage. The eugenebokhan/AssetImportKit seems to not work. https://github.com/johndpope/swift-2

if anyone knows how to pass the flags in swift - would like to know.

      let flipUVs = AssimpKitPostProcessSteps.process_FlipUVs
        let trianglulate = AssimpKitPostProcessSteps.process_Triangulate
        //        let flags

[2020-09-30 12:35] AnanlaTech commented on #104
Thanks a lot. Will check for the updates

[2020-09-30 22:14] 8secz-johndpope commented on #104
I found performance issues with underlying swift code base from eugenebokhan/AssetImportKit

This example has some swift code at app level
https://github.com/johndpope/swift-2
https://github.com/johndpope/Swift-2/blob/master/ARKitExample/ARKitExample/ViewController.swift

I'm stuck in getting it this library to hot swizzle animations
https://github.com/dmsurti/AssimpKit/issues/101

Please help if

[2021-08-31 03:39] nicetime-free opened #120 "carthage update --platform iOS --use-xcframeworks Task failed with exit code 65:"
I get an error:

% carthage update --platform iOS --use-xcframeworks
*** Fetching AssimpKit
*** Checking out AssimpKit at "v1.2.0"
*** xcodebuild output can be found in /var/folders/hy/0hpwxmtx5fzczvwzg98qlwd00000gn/T/carthage-xcodebuild.Nq11yF.log
*** Building scheme "AssimpKit-iOS" in AssimpKit.xcworkspace
Build Failed
	Task failed with exit code 65:
	/usr/bin/xcrun xcodebuild -workspace /Users/

[2021-12-07 00:49] ccworld1000 opened #121 "Does the framework intend to continue to be updated?"
Does the framework intend to continue to be updated?

[2021-12-16 20:03] dmsurti commented on #121
@ccworld1000 Yes I am working on a newer version but to be honest with very little time at disposal due to other work commitments, I can’t commit to an ETA.

Any specific features you can mention would be useful. Thanks

[2021-12-17 03:40] ccworld1000 commented on #121
Does it support FBX < < = > > obj conversion?
Mutual conversion

[2021-12-17 05:38] ccworld1000 commented on #121
Whether the library file can be cropped can be customized and imported in pod as needed